.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #eb652b !important;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-inverse{
    background-color: #fff !important;
    padding-top:5px;
}
.navbar-brand img {
    max-height: 50px;
}

.top-menu > li > a {
    padding: 5px 10px 5px  23px;
    color: #232222 !important; 
    font-size: 16px;
}
.top-menu > li > a:hover,
a:focus, a:active {
  color: #f90909 !important;
  background-color: #fff !important;
}
.hr-border {
    margin-top: 10px;
    border:1px solid #acaaaa ;
} 
.top-sub {
    margin-bottom: 5px;
}
.top-sub-header {
    list-style: none;
    color: #f90909 !important;
    font-size: 14px;
    margin-left: -45px !important;
}
.top-sub > li> ul > li {
    list-style: none;
    margin-left: -20px;
    font-size:15px;
    color: #0c5db0;
}

@media (min-width: 768px) {
    .content-top {
        margin-top: 190px;
    }
    .app-back-col {
        background-color:#ffffff;
    }

}
@media (max-width: 767px) {
    .content-top {
        margin-top: 20px;
    }
}

.gift-label {
    color: #f86604;
    font-size: 16px;
}
.label-square {
    border: 1px solid #f86604;
    padding: 10px 20px 10px 20px;
    color: #f86604;
    font-size: 16px;
}
.dt-1{
    border: 1px solid #d8d6d6;
}
.dt-ht {
    border: 1px solid #d8d6d6;
    height:100px;
}

.text-5x {
    font-size: 5em;
}

.Sign-label {
    color: #0564ad;
    font-size: 16px;
}
.font-middle {
    font-weight: 500;
}
input.form-control {
    border-color: #cfdadd !important;
}
