<style>
    button {
        pointer: cursor;
    }

    input[type=file] {
        width: 150px;
        height: 20px;
    }

    .btn-circle-sm {
        width: 35px;
        height: 35px;
        text-align: center;
        padding: 2px 0;
        font-size: 20px;
        line-height: 1.65;
        border-radius: 30px;
    }
    .btn-grey {
      background-color: #d1d1d2;
    }
    .btn-progres {
        background-color: #71b9fb;
    }
    .btn-hold {
        background-color: #eec639;
    }


</style>
<div style="margin-top: 20px;" >
    <div class="col-sm-3" >
        <button class="btn btn-circle-sm  {{pendingcolor}}" style="margin-left: 8px;" ng-click="changeStatusWorkOrder('Pending')"  >
            <span class="fa fa-lock"></span>
        </button>
        <label>Pending</label>
    </div>
    <div class="col-sm-3" >
        <button  class="btn btn-circle-sm {{progresscolor}}"  style="margin-left:8px;" ng-click="changeStatusWorkOrder('In Progress')" >
            <span class="fa fa-gear"></span>
        </button>
        <label>Progress</label>
    </div>
    <div class="col-sm-3">
        <button  class="btn btn-circle-sm {{holdcolor}}" style="margin-left: 8px;" ng-click="changeStatusWorkOrder('On Hold')">
            <span class="fa fa-refresh"></span>
        </button>
        <label>On Hold</label>
    </div >
    <div class="col-sm-3">
        <button  class="btn btn-circle-sm {{completcolor}}" style="margin-left: 8px;" ng-click="changeStatusWorkOrder('Completed')" >
            <span class="fa fa-life-saver"></span>
        </button>
        <label>Completed</label>
     </div>
</div>
<div class="wrapper" style="margin-top: 90px" >
    <div class="panel panel-default" style="border-radius: 4px">
        <div class="panel-body">
            <form class="form-horizontal form-validation">
                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-4 text-right " style="margin-bottom: 0px">Name</label>
                    <div class="col-sm-8 ">
                        {{workorder.name}}
                    </div>
                </div>
                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-4 text-right " style="margin-bottom: 0px">Equipment Name</label>
                    <div class="col-sm-8 ">
                        {{workorder.equipment_name}}
                    </div>
                </div>
                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-4 text-right " style="margin-bottom: 0px">Location</label>
                    <div class="col-sm-8 ">
                        {{workorder.equipment_location.name}}
                        <label ng-if="workorder.equipment_location != null"> : </label>
                        {{workorder.equipment_location.type}}
                    </div>
                </div>
                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-4 text-right " style="margin-bottom: 0px">Type</label>
                    <div class="col-sm-8 ">
                        {{workorder.work_order_type}}
                    </div>
                </div>
                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-4 text-right " style="margin-bottom: 0px">Priority</label>
                    <div class="col-sm-8 ">
                        {{workorder.priority}}
                    </div>
                </div>
                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-4 text-right " style="margin-bottom: 0px">Description</label>
                    <div class="col-sm-8 ">
                        {{workorder.description}}
                    </div>
                </div>
                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-4 text-right " style="margin-bottom: 0px">Checklist</label>
                    <div class="col-sm-8">
                        {{workorder.checklist_name}}
                    </div>
                </div>
                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-4 text-right " style="margin-bottom: 0px">Created Date</label>
                    <div class="col-sm-8">
                        {{workorder.created_date}}
                    </div>
                </div>
                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-4 text-right " style="margin-bottom: 0px">Start Date</label>
                    <div class="col-sm-8">
                        {{workorder.purpose_start_date}}
                    </div>
                </div>
                <div class="form-group" style="margin-right: 0px">
                    <label class="col-sm-4 text-right " style="margin-bottom: 0px">End Date</label>
                    <div class="col-sm-8">
                        {{workorder.purpose_end_date}}
                    </div>
                </div>
                <!--<div class="form-group" style="margin-right: 0px">-->
                    <!--<label class="col-sm-4 text-right " style="margin-bottom: 0px">Staff/Group</label>-->
                    <!--<div class="col-sm-8">-->
                        <!--{{workorder.staff_name}}  Cost:{{workorder.staff_cost}}/hr-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group" style="margin-right: 0px"  ng-repeat="row in workorder.staff_group" >
                    <label class="col-sm-4 text-right" style="margin-bottom: 0px">Staff/Group {{$index+1}} .</label>
                    <label class="col-sm-3">{{row.staff_name}} </label>
                    <label class="col-sm-2">{{row.staff_type}} </label>
                    <label class="col-sm-3">AED {{row.staff_cost}} </label>
                </div>

                <div class="form-group" style="margin-right: 0px"  ng-repeat="row in workorder.part_group" >
                    <label class="col-sm-4 text-right" style="margin-bottom: 0px">Part {{$index+1}} .</label>
                    <label class="col-sm-3">{{row.part_name}} </label>
                    <label class="col-sm-2">{{row.part_number}} </label>
                    <label class="col-sm-3">AED {{row.part_cost}} </label>
                </div>
            </form>
        </div>
    </div>
</div>