<div ng-controller="preventiveMaintainenceController" style="{{full_height}}">

    <script type="text/ng-template" id="partTypeahead.html">
        <a>
            <span ng-bind="match.model.name"></span><br>
            <span style="font-size: 10px" ng-bind="match.model.type"></span><br>
        </a>
    </script>


    <script type="text/ng-template" id="consumable-template">
        <div class="autocomplete-template">
            <div class="right-panel" >
                <span ng-bind-html="$highlight($getDisplayText())"></span><br>
                <span style="font-size: 10px">{{data.type}} </span>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="autocomplete-template">
        <div class="autocomplete-template">
            <div class="right-panel">
                <span ng-bind-html="$highlight($getDisplayText())"></span><br>
                <span style="font-size: 10px">{{data.type}} </span>
            </div>
        </div>
    </script>

    <div class="wrapper-md1 col-centered" style="width: 100%;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <form class="form-horizontal form-validation">
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-muted">Type</label>
                                <div class="col-sm-8">
                                    <select class='form-control' ng-model="preventive.type" ng-change="onChangeReportType()" ng-options="type for type in preventive.types">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label class="col-sm-4 control-label text-muted">Name</label>
                                <div class="col-sm-8">
                                    <input ng-model="preventive.name" class="form-control  input-sm" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label text-muted">
                                    Equipment/Group
                                </label>
                                <div class="col-sm-8 scrollable-dropdown-menu">
                                    <input class="form-control input-sm col-sm-11" type="text" ng-model="preventive.equip_name"
                                           popover-trigger="mouseenter" popover-placement="top"
                                           uib-typeahead="equip.name for equip in getEquipmentOrGroupList($viewValue)"
                                           typeahead-min-length="0"
                                           typeahead-editable="false"
                                           typeahead-template-url="partTypeahead.html"
                                           typeahead-on-select="onEquipmentOrGroupSelect(equipment, $item, $model, $label)"
                                           required />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4" >
                        <form class="form-horizontal form-validation">
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-muted">Checklist</label>
                                <div class="col-sm-9">
                                    <input class="form-control input-sm col-sm-11" type="text" ng-model="preventive.checklist_name"
                                           popover-trigger="mouseenter" popover-placement="top"
                                           uib-typeahead="checklist.name for checklist in getCheckListFromPreventive($viewValue)"
                                           typeahead-min-length="0"
                                           typeahead-on-select="onChecklistFromPreventiveSelect(equipment, $item, $model, $label)"
                                           required />
                                </div>
                            </div>
                            <div class="form-group" ng-if="preventive.parts_tags.length > 0">
                                <div class="col-sm-12">
                                    <label ng-repeat="row in preventive.parts_tags">
                                        <label>
                                            {{row.name}}_{{row.quantity}}_
                                             <i class="fa fa-window-close fa-2x " style="cursor: pointer" title="Remove Part" ng-click="RemoveParts(row.name)"></i>
                                        </label>
                                    </label>
                                    
                                </div>
                            </div>
 
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-muted">Consumables</label>
                                <div class="col-sm-9">
                                    <!--<tags-input ng-model="preventive.parts_tags" display-property="name" style="margin-top: -7px"-->
                                                <!--replace-spaces-with-dashes="false"  >-->
                                        <!--<auto-complete source="getPartGroupList($query)"-->
                                                       <!--min-length="0"-->
                                                       <!--load-on-focus="true"-->
                                                       <!--load-on-empty="true"-->
                                                       <!--debounce-delay="0"-->
                                                       <!--max-results="10"-->
                                                       <!--template="consumable-template" >-->
                                        <!--</auto-complete>-->
                                    <!--</tags-input>-->
                                    <input class="form-control input-sm" style="width: 100px;float: left" type="text" ng-model="part_name"
                                           popover-trigger="mouseenter" popover-placement="top"
                                           uib-typeahead="part.name for part in getPartGroupList($viewValue)"
                                           typeahead-min-length="0"
                                           typeahead-editable="false"
                                           typeahead-template-url="partTypeahead.html"
                                           typeahead-on-select="onPartGroupSelect(equipment, $item, $model, $label)"
                                           required />
                                    <label style="float:left;padding-top: 5px;padding-left: 5px; padding-right: 5px;">Stock: {{part_stock}} </label>
                                    <label style="float: left;padding-top: 5px;padding-left: 5px; padding-right: 5px;">Quantity: </label>
                                    <input class ="form-control input-sm" type="number" style="width:70px;float: left;padding-top: 5px;padding-left: 5px; padding-right: 5px;" ng-model="part_quantity">
                                    <label style="float:left;padding-left: 5px;">
                                        <i class="fa fa-plus-circle fa-2x text-danger " style="cursor: pointer" title="Create Parts" ng-click="CreateParts()"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-muted">Staff/Group</label>
                                <div class="col-sm-9">
                                    <tags-input ng-model="preventive.staff_tags" display-property="name" style="margin-top: -7px"
                                                replace-spaces-with-dashes="false"  >
                                        <auto-complete source="getStaffList($query)"
                                                       min-length="0"
                                                       load-on-focus="true"
                                                       load-on-empty="true"
                                                       debounce-delay="0"
                                                       max-results="10"
                                                       template="autocomplete-template">
                                        </auto-complete>
                                    </tags-input>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4" style="padding-left: 50px;" >
                        <form class="form-horizontal form-validation">
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-muted">Frequency</label>
                                <div class="col-sm-4">
                                    <input class="form-control input-sm" type="number" data-ng-model="preventive.frequency"
                                           uib-popover="" popover-trigger="mouseenter" popover-placement="top" />
                                </div>
                                <div class="col-sm-5">
                                    <select class='col-sm-6 form-control input-sm' ng-model="preventive.frequency_unit"
                                            ng-options="value for value in preventive.frequency_units" >
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="md-check text-muted" style="margin-right: 20px">
                                    <input type="checkbox" ng-model="preventive.inspection">
                                    <i class="blue"></i>
                                    For Inspection
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label text-muted">Notify By:</label>
                                <div class="col-sm-9" style="padding-top: 7px; padding-left: 30px">
                                    <label class="md-check" style="margin-right: 20px">
                                        <input type="checkbox" ng-model="preventive.sms" ng-disabled="!preventive.inspection">
                                        <i class="green"></i>
                                        SMS
                                    </label>
                                    <label class="md-check" style="margin-right: 20px">
                                        <input type="checkbox" ng-model="preventive.email" ng-disabled="!preventive.inspection">
                                        <i class="green"></i>
                                        Email
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="pull-right" style="margin-right: 20px;" >
                        <button type="submit" class="btn btn-sm btn-dark text-uc m-t-n-xs" ng-click="add()"><strong>
                            <span class="text-success">&nbsp;&nbsp;&nbsp;{{action_button}}&nbsp;&nbsp;&nbsp;</span></strong></button>
                        <button type="submit" class="btn btn-sm btn-dark text-uc m-t-n-xs" ng-click="cancel()"><strong>
                            <span class="text-danger">&nbsp;&nbsp;Clear&nbsp;&nbsp;</span></strong></button>
                    </div>
                </div>

                <!---search condition---->
                <div>
                    <div class="row wrapper"   uib-dropdown>
                        <div class="btn-toolbar" style="float:left;padding-left: 10px;">
                            <div class="btn-group">
                                <button id="dateranger" class="btn btn-sm btn-icon btn-default" data-toggle="tooltip" title="Filter" data-placement="bottom"
                                        data-title="Refresh" ui-jq="daterangepicker" ui-options="dateRangeOption" class="form-control pull-right input-sm">
                                    <i class="fa fa-filter"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group col-sm-2 " style="padding-left:5px;">
                            <input type="text" ng-model="searchtext" ng-keyup="onSearch()" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <!---view list--->
                <div class="table table-responsive" style="height:100%">
                    <table  st-table="datalist"  st-pipe="getDataList" class="table ticket">
                        <thead class="tblhead-sm" style="background: #88888a">
                        <tr>
                            <th><b>Name</b></th>
                            <th><b>Type</b></th>
                            <th><b>Equipment</b></th>
                            <th><b>CheckList Name</b></th>
                            <th style="width:15%"><b>Part</b></th>
                            <th style="width:15%"><b>Staff</b></th>
                            <th><b>Frequency</b></th>
                            <th><b>Unit</b></th>
                            <th><b>Inspection</b></th>
                            <th><b>SMS</b></th>
                            <th><b>Email</b></th>
                            <th><b>Created DateTime</b></th>
                            <th><b>Action</b></th>
                        </tr>
                        </thead>
                        <tbody ng-hide="isLoading">
                        <tr class="" ng-repeat="row in datalist">
                            <td>{{row.name}}</td>
                            <td>{{row.type}}</td>
                            <td>{{row.equip_name}}</td>
                            <td>{{row.checklist_name}}</td>
                            <td style="width:15%">
                                <label class="" ng-repeat="part in row.part"> {{part.name}}_{{part.quantity}} , </label>
                            </td>
                            <td style="width:15%">
                                <label class="" ng-repeat="staff in row.staff"> {{staff.name}} ,</label>
                            </td>
                            <td>{{row.frequency}}</td>
                            <td>{{row.frequency_unit}}</td>
                            <td>{{row.inspection ? 'Yes' : 'No'}}</td>
                            <td>{{row.sms ? 'Yes' : 'No'}}</td>
                            <td>{{row.email ? 'Yes' : 'No'}}</td>
                            <td>{{row.created_at}}</td>
                            <td>
                                <a class="btn default btn-xs green" ng-click="edit(row)">
                                    <i class="fa fa-pencil"></i></a>
                                <a class="btn default btn-xs red" ng-click="delete(row)">
                                    <i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        </tbody>
                        <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="8" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                        </tr>
                        </tbody>
                        <tfoot ng-hide="isLoading">
                        <tr ng-show="paginationOptions.totalItems > paginationOptions.pageSize">
                            <td colspan="13" class="text-center">
                                <div st-pagination="" st-items-by-page="paginationOptions.pageSize" st-displayed-pages="7" class="no-margin"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
