<div ng-controller="ChecklistController" style="{{full_height}}">
    <div class="wrapper-md1">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Check List</div>
                <div class="panel-body">
                    <form class="form-horizontal form-validation">
                        <div class="form-group" >
                            <div class="col-sm-12">
                                <label class="text-muted">Check List name</label><label class="field_title" style="color:#F44336">*</label>
                                <input ng-model="check_list_name" class="form-control  input-sm" required/>
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class="col-sm-12">
                                <label class="text-muted">Job Role</label>
                                <label style="color:#F44336">*</label>
                                <input type="text" ng-model="job_role" class="form-control  input-sm"
                                       uib-typeahead="item as item.job_role for item in getJobRoleFilter($viewValue)"
                                       typeahead-on-select="onSelectJobrole($item, $model, $label)"
                                       typeahead-min-length="0"
                                       typeahead-template-url="customTemplate.html"
                                       required/>
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class="col-sm-12">
                                <label class="text-muted">Room Type</label>
                                <tags-input ng-model="type_tags" display-property="type" placeholder="Add a Type" style="margin-top: -7px"
                                            replace-spaces-with-dashes="false">
                                    <auto-complete source="loadRoomTypeFilters($query)"
                                                   min-length="0"
                                                   load-on-focus="true"
                                                   load-on-empty="true"
                                                   debounce-delay="0"
                                                   max-results="10">
                                    </auto-complete>
                                </tags-input>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
	                            <div class="pull-right">
					                        <button type="submit" class="btn btn-sm btn-dark text-uc m-t-n-xs" ng-click="add()"><strong>
					                        	<span class="text-success">&nbsp;&nbsp;&nbsp;{{action_button}}&nbsp;&nbsp;&nbsp;</span></strong></button>
					                        <button type="submit" class="btn btn-sm btn-dark text-uc m-t-n-xs" ng-click="cancel()"><strong>
					                        	<span class="text-danger">&nbsp;&nbsp;Clear&nbsp;&nbsp;</span></strong></button>
					                    </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;Check List</div>
                <div class="panel-body">
                    <table  st-table="datalist"  st-pipe="getDataList" class="table ticket" >
                        <thead class="tblhead-sm">
                        <tr>
                            <th><b>Name</b></th>
                            <th><b>Job Role</b></th>
                            <th><b>Room Type</b></th>
                            <th style="width: 80px"><b>Action</b></th>
                        </tr>
                        </thead>
                        <tbody ng-hide="isLoading" ng-repeat="row in datalist">
                            <tr class="" ng-click="onClickRow(row, $index)" >
                                <td>
                                    <i ng-if="row.collapse" class="fa fa-arrow-down" style="color:#66BB6A;"></i>
                                    <i ng-if="!row.collapse" class="fa fa-arrow-right" style="color:#66BB6A;"></i>
                                    &nbsp;{{row.name}}
                                </td>
                                <td>{{row.job_role}}</td>
                                <td>{{getRoomTypes(row)}}</td>
                                <td>
                                    <a class="btn default btn-xs green" ng-click="edit(row)">
                                        <i class="fa fa-pencil"></i></a>
                                    <a class="btn default btn-xs red" ng-click="delete(row)">
                                        <i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                            <tr ng-if="row.collapse" class="checklist-bg">
                                <td>

                                </td>
                                <td colspan="3">
                                    <div class="col-sm-2" style="padding-left: 0px">
                                        <label style="margin-top: 10px">Check List Items</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="list-group" style="margin-bottom: 10px">
                                            <a class="list-group-item" ng-repeat="item in row.items">
                                                {{item.name}}
                                                <i class="fa fa-times pull-right text-muted" ng-click="onDeleteCheckListItem(row, item)"></i>
                                            </a>
                                        </div>
                                        <div class="input-group">
                                            <input type="text" ng-model="row.item_name" class="form-control  input-sm"
                                                   uib-typeahead="item.name for item in getCheckListItemFilter($viewValue)"
                                                   typeahead-min-length="0"
                                                   required/>
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default btn-sm" ng-click="addCheckListItem(row)"><i class="fa fa-plus"></i></button>
                                            </span>
                                        </div>

                                        <div style="margin-top: 20px">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-sm btn-primary text-uc m-t-n-xs" ng-click="saveItems(row)"><strong>&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</strong></button>
                                                <button class="btn btn-sm btn-default text-uc m-t-n-xs" ng-click="cancelItem(row)"><strong>&nbsp;&nbsp;Clear&nbsp;&nbsp;</strong></button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="4" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                        </tr>
                        </tbody>
                        <tfoot ng-hide="isLoading">
                        <tr ng-show="paginationOptions.totalItems > paginationOptions.pageSize">
                            <td colspan="4" class="text-center">
                                <div st-pagination="" st-items-by-page="paginationOptions.pageSize" st-displayed-pages="7" class="no-margin"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
