<div class="modal-body wrapper-lg">
  <h3 class="m-t-none m-b font-thin">Add Sub Complaint</h3>

  <hr style="margin-top: 0px; margin-bottom: 15px" />

  <div class=" ">
    <form class="form-horizontal form-validation">
      <div class="form-group">
        <label class="col-sm-2 control-label">Complaint</label>
        <div class="col-sm-4">
          <div class="scrollable-dropdown-menu">
            <input ng-model="sub.complaint_name" class="form-control  input-sm"                                  
               ng-focus="onFocus($event)" empty-typeahead
               uib-typeahead="item.complaint for item in complaint_list | filter:$viewValue:stateComparator | limitTo:10"
               typeahead-min-length="0"
               typeahead-on-select="onComplaintSelect(sub, $item, $model, $label)"
               typeahead-no-results="sub.noResults"/>                      
            <span ng-if="sub.noResults" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
              <ul class="dropdown-menu" >
                <li><a href ng-click="onEnter(sub)">{{sub.complaint_name}} (New Complaint))</a></li>
              </ul>
            </span> 
          </div>   
        </div>
        <label class="col-sm-2 control-label">Severity</label>
        <div class="col-sm-4">
            <select class='form-control input-sm' ng-model="sub.severity" 
                  ng-options="value.id as value.type for (key, value) in severity_list"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Department</label>
        <div class="col-sm-4">
            <select class='form-control input-sm' ng-model="sub.dept_id" ng-change="onSelectDepartment(sub)"
                  ng-options="value.id as value.department for (key, value) in dept_list" ng-disabled="!sub.dept_selectable">
            </select>
        </div>
        <label class="col-sm-2 control-label">Assignee</label>
        <div class="col-sm-4">
          <input type="text" ng-model="sub.assignee_name" class="form-control input-sm" disabled>
        </div>            
      </div>          
      <div class="form-group">
        <label class="col-sm-2 control-label">Comment</label>
        <div class="col-sm-4">
          <textarea class="form-control input-sm" rows="3" ng-model="sub.comment" style="resize:none"></textarea>
        </div>
        <label class="col-sm-2 control-label"></label>
          <div class="col-sm-4">
              
          </div>
          
                 
      </div>
             
    </form>
  </div>

  <hr/>

  <div class="row">
    <div class="pull-right">  
      <button type="button" class="btn btn-sm btn-dark m-b-xs w-xs text-uc m-t-n-xs" ng-click="ok()">
      	<strong>OK</strong>
      </button>
      <button type="button" class="btn btn-sm btn-dark m-b-xs w-xs text-uc m-t-n-xs" ng-click="cancel()">
      	<strong>Cancel</strong>
      </button>
    </div>  
  </div>

</div>