<div class="w-auto-xs" ng-controller="SignupFormController" ng-init="app.settings.container = false;">
  <div class="row wrapper-sm b-b">        
        <div class="col-md-12 col-xs-12">
          <h1 class="m-n font-thin h1 text-black font-middle">Sign Up</h1>          
        </div>
        <div class="col-md-12 col-xs-12 m-t">
          <span>NOTE: Already have an account?
            <a ui-sref="app.signin" class="Sign-label">Login Here </a>
          </span>          
        </div>   
  </div>
  
  <div class="col-md-offset-2 col-md-8 m-t-lg">
      <div class="panel panel-default">
          <div class="panel-heading">
              <div class="panel-title">Sign Up</div>
          </div>    
          <div style="padding-top:30px" class="panel-body">
               <div class="text-danger wrapper text-center" ng-show="authError">
                  {{authError}}
              </div>              
              <form  name="form" class="form-validation" role="form">                
                          
                  <div class="form-group form-group-lg">
                      <label>Username</label>
                      <input  type="text" class="form-control" ng-model="user.username"  placeholder="username"  required >
                  </div>
                      
                  <div class="form-group form-group-lg">
                    <label>Password</label>
                    <input type="password" class="form-control" ng-model="user.password"  placeholder="password" required >
                  </div>

                  <div class="form-group form-group-lg">
                      <label>Email</label>
                      <input  type="text" class="form-control" ng-model="user.email"  placeholder="email"  required >
                  </div>

                  <div class="form-group form-group-lg">
                      <label>Full Name</label>
                      <input  type="text" class="form-control" ng-model="user.fullname"  placeholder="fullname"  required >
                  </div>
                  
                  <div class="checkbox" style="margin-bottom: 10px; margin-left: 5px;">
                    <label>
                      <input type="checkbox" name="accept" id="accept"> I confirm that I am over 18 years old and I agree to the 
                        <a ui-sref="app.terms" class="Sign-label" >Terms of Use</a> and 
                        <a ui-sref="app.privacy" class="Sign-label" >Privacy Policy</a>
                    </label>
                  </div>

                  <div class="checkbox" style="margin-bottom: 20px; margin-left: 5px;">
                    <label>
                      <input type="checkbox" name="newsletter" id="newsletter"> Email me occasional updates about new products, features, and gift guides.
                    </label>
                  </div>
                  <div class="form-group form-group-lg">
                    <button class="btn-lg btn-primary filter-menu" type="submit" ng-click="signup()" >SIGN UP NOW</button>
                  </div>
                  <hr>                  
                  </form>  
              </div>       
        </div>      
  </div>  
</div>
 