<style>
  div.chat-container {    
      display: flex;
      display: -webkit-flex;

      flex-direction: column;
      -webkit-flex-direction: column;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;            
  }

  div.chat-messages {
    order: 1;
    -webkit-order:1;
    
    flex: 1;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 

    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 40px;
    
    background: linear-gradient(
        to bottom,
        rgb(122,214,184) 0%,
        rgb(122,214,184) 100%
    );
    background-size: 100% 10px;
    background-repeat: no-repeat;            
  }

  .chat-input {      
      order: 2;
      -webkit-order:2;    
      height: 62px;
  }
</style>
<div style="padding-left: 0px; padding-right: 0px; font-size: 15px" ng-controller="ChatController as ctrl" ng-init="init()">
  <div class="panel panel-default chat-container" ng-style="chat_height_style" fill-height additional-padding="0"> 
    <div class="panel-heading">
      <label class="text-sm font-bold">
        <i class="fa fa-comment text-default"></i>&nbsp;&nbsp;Chat
        <span class="label m-l-sm"
                  ng-class="{
                    'bg-wakeup-waiting': current_session.status=='Waiting',
                    'bg-wakeup-success': current_session.status=='Active',
                    'bg-wakeup-canceled': current_session.status=='Ended',
                    }"
                  >
          {{current_session.status}}
        </span>
        &nbsp;&nbsp;{{current_session.typing_flag == 0 ? 'Typing...' : ''}}
      </label>
      <div class="pull-right">
        <select class='form-control' ng-model="lang_code" ng-hide="true"
            ng-options="value.code as value.language for (key, value) in language_list">
        </select>
      </div>  
    </div>
    <div class="panel-body chat-messages" scroll-glue>      
      <div class="m-b" ng-repeat="msg in messages">
        <p ng-if="msg.direction == -1" class="text-center">          
          {{msg.text}}          
        </p>
        <a ng-if="msg.direction == 0" href class="pull-left" ng-style="{'margin-top': lang_code == 'en' ? '0px' : '20px'}">
          <button class="btn btn-rounded btn-lg btn-icon btn-default">A</button>
        </a>
        <!-- self -->
        <a ng-if="msg.direction == 1" href class="pull-right thumb-sm avatar" ng-style="{'margin-top': lang_code == 'en' ? '0px' : '20px'}">
          <button class="btn btn-rounded btn-lg btn-icon btn-default">Me</button>
        </a>
        <div class="m-l-xxl" style="margin-left: 60px" ng-if="msg.direction == 0">
          <div ng-show="msg.text_trans">
            <label class="font-bold">              
              <a class="text-sm ng-binding" dynamic="msg.text_trans">                
              </a>
              &nbsp;
            </label>                  
          </div>
          <div class="pos-rlt wrapper b b-light bg-info r r-2x">
            <span class="arrow left pull-up arrow-info"></span>
            <p class="m-b-none">{{msg.text}}</p>
          </div>
          <small class="text-muted"><i class="fa fa-ok text-success"></i>{{ msg.created_at | mydate: "h:mm a" }}</small>
        </div>
        <!-- self -->
        <div class="m-r-xxl" ng-if="msg.direction == 1">
          <div style="text-align: right" ng-show="msg.text_trans">
            <label class="font-bold">              
              &nbsp;
              <a class="text-sm ng-binding" dynamic="msg.text_trans">                
              </a>
            </label>                  
          </div>
          <div class="pos-rlt wrapper bg-primary r r-2x">
            <span class="arrow right pull-up arrow-primary"></span>
            <p class="m-b-none">{{msg.text}}</p>
          </div>
          <small class="text-muted">{{ msg.created_at | mydate: "h:mm a" }}</small>
        </div>
      </div>
    </div>
    <footer class="panel-footer chat-input" style="padding: 5px 10px;">
      <!-- chat form -->
      <div>
        <form class="m-b-none">
          <div class="input-group">
            <input type="text" class="form-control" ng-disabled="current_session.status != 'Active'" ng-model="message_content" placeholder="Say something" ng-keyup="$event.keyCode == 13 && onSendMessage(message_content)" ng-change="onChangeChat(message_content)"
            ng-model-options="{debounce: 500}" id="myinputtext"
            >
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-disabled="!message_content && current_session.status != 'Active'" style="font-size: 12px" ng-click="onSendMessage(message_content)">SEND</button>
            </span>
          </div>
        </form>
      </div>
    </footer>
  </div>
</div>